html,body {
  height: 100%;
  background: #CFF09E;
}

.valign-wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (min-width : 500px) {
  .card {
    width: 500px;
  }
}

#displayQuote {
  font-size: 1.1em;
}

#displayCharacter {
  font-style: italic;
}

.buttons {
  margin-bottom: 0.8em;
}

a {
  font-size: 0.8em;
}